.input-box{

    background-attachment: fixed;
    background-color: #F5F5F5;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-radius: 18px;
    width: 97vw;
    height: 20vw;
    position: relative;
    top: 28vw;
  
}

.input-bpm-box{
    background-color: white;
    width: 37vw;
    font-size: medium;
    height: 100px;
    text-align: center;
    border-radius: 18px;
    border: 3.8px solid #0C2C45;
}


.input-bpm-box-exception{
    background-color: white;
    width: 37vw;
    font-size: medium;
    height: 100px;
    text-align: center;
    border-radius: 18px;
    border: 3.8px solid #A10532;
}


.reset-button{
    background-color: #DE7471;
    color: white;
    border-radius: 18px;
    width: 29vw;
    text-align: center;
    font-size: medium;
    height: 100px;
    border: 3.8px solid #0C2C45;

}


.reset-button:active {
    background-color: #A10532;
    text-align: center;
    border: 3.8px solid #0C2C45;

  }



.calculator-button{

background-color: #0C2C45;
color: white;
border-radius: 18px;
font-size: medium;
text-align: center;
width: 29vw;
height: 100px;
overflow: hidden;
cursor: pointer;
border: 3.8px solid #0C2C45;



}

.calculator-button:after{
    content: '处理中...processing...';
    background: #68ABA4;
    display: block;
    text-align: center;
    opacity: 0;
    transition: all 0.8s;
    
    }


    .calculator-button:active:after{

        padding: 0;
        margin: 0;
        opacity: 0.9;
        transition: 0s;
        
    }



