.app {
  text-align: center;
  padding: 0 24px;
}


.text {
  margin-top: 64px;
  color: #0C2C45;
}

.header {
  padding-top: 30%;
  background-color: #282c34;
  font-size: 40px;
  color: white;
}



.logo-image{

  display: flex;
  margin: auto;
  height: 12vw;
  background-color: #15466B;
  border-radius:  0px 0px 38.2px 38.2px;
  width: 100vw;

}

.bottom{

  display: flex;
  margin: auto;
  background-color: #15466B;
  width: 100vw;
 position: absolute;
}

.font{
  display: flex;
  border-radius:  8px 8px 0px 0px;

  height: 36vw;
  background-color: #15466B;
  position: relative;
  top: 40vw;
}
