.choosing-box{

  margin: auto;
  background-attachment: fixed;
  background-color: #F5F5F5;
  flex-direction: row;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  width: 97vw;
  position: relative;
  top: 14vw;

}

.button{

  background-color: #B5A09C;
  color: white;
  border-radius: 18px;
  width: 31vw;
  height: 100px;
  font-size: medium;
  border-radius: 18px;
  border: 3.8px solid #0C2C45;

}


.buttonActive{

  background-color: #15466B;
  color: white;
  border-radius: 18px;
  width: 33vw;
  height: 100px;
  font-size: medium;
  border-radius: 18px;
  border: 3.8px solid #0C2C45;

}




/* .button:active {
    background-color: #15466B;
  } */

