.choosing-box{

  margin: auto;
  background-attachment: fixed;
  background-color: white;
  flex-direction: row;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  width: 97vw;

}

.button{

  background-color: #B5A09C;
  color: white;
  border-radius: 18px;
  width: 31vw;
  height: 100px;
  font-size: medium;

}


.buttonActive{

  background-color: #15466B;
  color: white;
  border-radius: 18px;
  width: 33vw;
  height: 100px;
  font-size: medium;

}




/* .button:active {
    background-color: #15466B;
  } */

