.output-box{

    /* background-attachment: fixed;
    background-color: red; */
    position: relative;
    top: 5vw;
    background-attachment: fixed;
    border-radius: 18px;
    width: 97vw;
    margin: auto;
    background-color: white;
    height: 77vw;
    border-radius: 18px;
    border: 3.8px solid #0C2C45;
    


}

.output-box-title{

    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 18px 18px 0px 0px;

}



.output-box-title-img{

    width: 60px;
    height: 60px;
}


.output-box-title-img-none{
    display: none;
    width: 60px;
    height: 60px;
    

}

/* .output-box-title-text{

    width: 300px;

} */

.output-box-result{
    background-color: white;  
    display: flex;
    flex-direction: column;

}

.output-box-result-none{
    background-color: white;  
    display: none;


}

.line{
    text-align:left;
    font-size: large;
    font-weight: bold;
    color: #15466B;
    line-height: 8vw;
    position: relative;
    top: 6vw;
    text-align: center
    
}


.line2{
    text-align:left;
    font-size:medium;
    font-weight: bold;
    color: #15466B;
    line-height: 8vw;
    position: relative;
    top: 6vw;
    text-indent:12vw;
}

.line3{
    text-align:left;
    font-size:large;
    font-weight: bold;
    color: #15466B;
    line-height: 8vw;
    position: relative;
    top: 7vw;
    text-indent:17vw;
}

.des{
    text-align:left;
    font-size: smaller;
    font-weight: bold;
    color: #15466B;
    position: relative;
    top: 6vw;
    text-align: center

    
}

.lineTitle{
    position: relative;
    top: 3vw;
    text-align: left;
    font-size: medium;
    color: #505253;
    font-weight: bold;
    text-indent:2vw;

}

.lineTitle2{
    position: relative;
    top: 6vw;
    text-align: left;
    font-size: medium;
    color: #505253;
    font-weight: bold;
    text-indent:2vw;

}



